{{define "styles/edit.html"}}
{{template "public/header.html" .}}

<form class="row postsForm" data-method="PUT">
  <div class="col-md-6">
    <div class="card border-0">
      <div class="card-header">模型设置</div>
      <div class="card-body">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" name="name" id="name" value="{{.style.Name}}" />
        </div>
        <div class="mb-3">
          <label for="checkpoint" class="form-label">模型</label>
          <select class="form-select select2" name="checkpoint" id="checkpoint">
            {{range .checkpoints}}
            <option {{if eq .Title $.style.Checkpoint }} selected {{end}} value="{{.Title}}">{{.Title}}</option>
            {{end}}
          </select>
        </div>

        <div class="mb-3">
          <label for="sampler_index" class="form-label">采用算法</label>
          <select class="form-select" name="sampler_index" id="sampler_index">
            <option {{if eq .style.SamplerIndex "Euler a"}} selected {{end}} value="Euler a">Euler a</option>
            <option {{if eq .style.SamplerIndex "DDIM"}} selected {{end}} value="DDIM">DDIM</option>
            <option {{if eq .style.SamplerIndex "DPM++ 2M Karras"}} selected {{end}} value="DPM++ 2M Karras">DPM++ 2M Karras</option>
          </select>
        </div>

        <div class="mb-3">
          <button type="submit" class="btn btn-primary">更新</button>
      </div>

      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">渲染参数设置</div>
      <div class="card-body">
        <div class="mb-3">
          <label for="pormpt" class="form-label">pormpt</label>
          <textarea class="form-control" name="pormpt" id="pormpt" rows="3">{{.style.Pormpt}}</textarea>
        </div>
        <div class="mb-3">
          <label for="negative_prompt" class="form-label">negative_prompt</label>
          <textarea class="form-control" name="negative_prompt" id="negative_prompt" rows="3">{{.style.NegativePrompt}}</textarea>
        </div>
        <div class="mb-3">
          <label for="cfg_scale" class="form-label">cfg_scale</label>
          <input type="text" class="form-control" name="cfg_scale" id="cfg_scale" value="{{.style.CfgScale}}" />
        </div>
        <div class="mb-3">
          <label for="steps" class="form-label">steps</label>
          <input type="text" class="form-control" name="steps" id="steps" value="{{.style.Steps}}" />
        </div>
      </div>
    </div>
  </div>
</form>

{{template "public/footer.html" .}}
{{template "scripts/select.html" .}}
{{template "scripts/form.html" .}}

{{end}}