{{define "styles/posts.html"}}
{{template "public/header.html" .}}

<form class="row postsForm" data-method="POST">
  <div class="col-6">
    <div class="card border-0">
      <div class="card-header">模型设置</div>
      <div class="card-body">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" name="name" id="name" />
        </div>
        <div class="mb-3">
          <label for="checkpoint" class="form-label">模型</label>
          <select class="form-select select2" id="checkpoint" name="checkpoint">
            {{range .checkpoints}}
            <option value="{{.Title}}">{{.Title}}</option>
            {{end}}
          </select>
        </div>

        <div class="mb-3">
          <label for="sampler_index" class="form-label">采用算法</label>
          <select class="form-select" name="sampler_index" id="sampler_index">
            <option value="Euler a" selected>Euler a</option>
            <option value="DDIM">DDIM</option>
            <option value="DPM++ 2M Karras">DPM++ 2M Karras</option>
          </select>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>

      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-header">渲染参数设置</div>
      <div class="card-body">
        <div class="mb-3">
          <label for="pormpt" class="form-label">pormpt</label>
          <textarea class="form-control" name="pormpt" id="pormpt" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <label for="negative_prompt" class="form-label">negative_prompt</label>
          <textarea class="form-control" name="negative_prompt" id="negative_prompt" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <label for="cfg_scale" class="form-label">cfg_scale</label>
          <input type="text" class="form-control" name="cfg_scale" id="cfg_scale" />
        </div>
        <div class="mb-3">
          <label for="steps" class="form-label">steps</label>
          <input type="text" class="form-control" name="steps" id="steps" />
        </div>
      </div>
    </div>
  </div>
</form>

{{template "public/footer.html" .}}
{{template "scripts/select.html" .}}
{{template "scripts/form.html" .}}

{{end}}