{{define "public/deletefunc.html"}}
<script>
    document.querySelectorAll('.deleteBtn').forEach((v) => {
        v.addEventListener('click', (e) => {
            e.preventDefault();
            if (confirm('确定删除吗？')) {
                fetch(e.target.href, {
                    method: 'DELETE',
                    credentials: 'include',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(res => res.json())
                    .then(data => {
                        if (data.success) {
                            alert('删除成功')
                            window.location.reload()
                        }
                    })
            }
        })
    })
</script>
{{end}}