{{define "public/error.html"}}

{{template "public/header.html" .}}

<div class="p-5 text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">Error</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
        操作有误
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
        首页
      </button>
      <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
        返回
      </button>
    </div>
  </div>

{{template "public/footer.html" .}}

{{end}}